# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [5]:
import pandas as pd
# xlrd is a library for reading data and formatting information from Excel files in the historical .xls format.
import xlrd

In [ ]:
import pymysql
from sqlachemy import create_engine

In [6]:
# your code here
sql_query = """
USE sakila
SELECT actor.first_name, actor.last_name, title
FROM film_actor
LEFT JOIN film
ON film.film_id = film_actor.film_id
LEFT JOIN actor
ON actor.actor_id = film_actor.actor_id;
"""
data = pd.read_sql_query(sql_query, engine)
print(data)

NameError: name 'engine' is not defined

# Challenge 2 - Working with JSON files

In the next cell, load the data in `nasa.json` in the `data` folder and load it into a pandas dataframe. Name the dataframe `nasa`.

In [ ]:
# your code here
# Importing a json file
nasa = pd.read_json('../data/nasa.json', orient='records')

Now that we have loaded the data, let's examine it using the `head()` function.

In [ ]:
# your code here
nasa.head()

#### The `value_counts()` function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the `value_counts()` function to determine the frequency of all types of asteroid landings by applying the function to the `fall` column.

In [ ]:
# your code here
nasa['fall'].value_counts()

Finally, let's save the dataframe as a json file again. Save the dataframe using the `orient=records` argument and name the file `nasa-output.json`. Remember to save the file inside the `data` folder.

In [ ]:
# your code here
#export as json file
nasa.to_json('../data/nasa-output.json', orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

CSV files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a CSV file into a dataframe directly from a URL without having to load the file first and then transform it. The dataset we will be using contains information about NASA shuttles.

The shuttle dataset contains 9 attributes all of which are numerical. The first one being time. The last column is the class which has been coded as follows :

1 Rad Flow

2 Fpv Close

3 Fpv Open

4 High

5 Bypass

6 Bpv Close

7 Bpv Open


In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [ ]:
cols = ['time', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [ ]:
# your code here
# Import comma-separated variable file
shuttle = pd.read_csv(tst_url, sep=' ', names=cols)

Let's verify that this worked by looking at the `head()` function.

In [ ]:
# your code here
shuttle.head()

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated, that we are not saving the index column and that the file is saved inside the `data` folder.

In [ ]:
# your code here
#export as csv file
shuttle.to_csv('../data/shuttle.csv', sep=',', index = False)

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the `data` folder. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [ ]:
#import excel file

astronauts = pd.read_excel('../data/astronauts.xls')

Use the `head()` function to inspect the dataframe.

In [ ]:
# your code here
astronauts.head()

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [ ]:
# your code here
astronauts['Undergraduate Major'].value_counts()

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a **tab separated file** using the `to_csv` function. Call the file `astronaut.csv`. Remember to remove the index column and save the file in the `data` folder.

In [ ]:
# your code here
astronauts.to_csv('../data/astronaut.csv', sep ='\t', index = None)

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function. 

Look in Google for a way to retrieve this data!

Attribute Information:

Season in which the analysis was performed. 1) winter, 2) spring, 3) Summer, 4) fall. (-1, -0.33, 0.33, 1)

Age at the time of analysis. 18-36 (0, 1)

Childish diseases (ie , chicken pox, measles, mumps, polio) 1) yes, 2) no. (0, 1)

Accident or serious trauma 1) yes, 2) no. (0, 1)

Surgical intervention 1) yes, 2) no. (0, 1)

High fevers in the last year 1) less than three months ago, 2) more than three months ago, 3) no. (-1, 0, 1)

Frequency of alcohol consumption 1) several times a day, 2) every day, 3) several times a week, 4) once a week, 5) hardly ever or never (0, 1)

Smoking habit 1) never, 2) occasional 3) daily. (-1, 0, 1)

Number of hours spent sitting per day ene-16 (0, 1)

Output: Diagnosis normal (N), altered (O)

In [10]:
# your code here
fertility_col_names =['Season','Age','Childish diseases','Accident or serious trauma','Surgical intervention','High fevers',
                      'Alcohol consumption','Smoking habit','Hours spent sitting','Output']
fertility = pd.read_csv('../data/fertility_Diagnosis.txt', sep=',', names=fertility_col_names)
fertility.head()

,Season,Age,Childish diseases,Accident or serious trauma,Surgical intervention,High fevers,Alcohol consumption,Smoking habit,Hours spent sitting,Output
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,N
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,O
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O